//! =========== Scrollbar ===========

// ==== полоса прокрутки (скроллбар) ====
::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

// ==== ползунок скроллбара ====
::-webkit-scrollbar-thumb {
  background-color: #3fc2bb;
  border-radius: 15px;
}
